
.cn{
    margin-top: -10%;
}
.label-cnn{
    /* font-weight: bold; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.case-accept-img{
    margin-top: -80px;
    

}

.accept-case{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;



}