.res-image{
    margin-top: -30px;
    /* -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
}
.ca{
    margin-top: 50%;
}
.logbtn{
    width:30%;
  height: 40px;
  background-color: black;
  border-color: white;

  color: white;
  margin-left: 130px;
}

.authentication__header {
    color: white;
    text-align: center;
  }
  
  .authentication {
    width: 90%;
    max-width: 25rem;
    margin: 7rem auto;
    text-align: center;
    /* background-image: url("https://images.wisegeek.com/court-gavel.jpg") */
  }
  
  .authentication form {
    margin-bottom: 3 rem;
  }
  